[alias]
lk = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset'
unstage = reset HEAD
undo-commit = reset --soft HEAD^

[core]
editor = code --wait

[init]
defaultBranch = main

[user]
name = "Santos Vilanculos"
email = "santosvilanculos@yahoo.com"

[pull]
rebase = false

[push]
autoSetupRemote = true
default = current

[rerere]
enabled = true
